<style>
	.message-content { font-family: Arial, Helvetica, sans-serif; max-width: 600px; font-size: 18px;
	line-height: 24px; }
</style>

<div class='message-content'>

	<h3>Hello {{name}}</h3>
	<p>Welcome to the Project</p>
	<p>Congratulations your account was created successfully</p>
	<br />
	<p>If you have not sign up for this account, please contact our team.</p>
	<p>Email: opensourceforjuniors@gmail.com</p>
	<p>Thank you!</p>

</div>