<style>
	.message-content { font-family: Arial, Helvetica, sans-serif; max-width: 600px; font-size: 18px;
	line-height: 24px; }
</style>

<div class='message-content'>

	<h3>Hello {{name}}</h3>
	<p>Your sign in was successful</p>
	<p>IP Address: {{ip}}</p>
	<p>Time: {{time}}</p>
	<br />
	<p>If you did not sign in, please contact our team.</p>
	<p>Email: opensourceforjuniors@gmail.com</p>
	<p>Thank you!</p>

</div>